@font-face {
  font-family: CircularBold;
  src: url(@/fonts/circularStd/CircularStd-Bold.otf);
}
@font-face {
  font-family: CircularBlack;
  src: url(@/fonts/circularStd/CircularStd-Black.otf);
}

@font-face {
  font-family: CircularBook;
  src: url(@/fonts/circularStd/CircularStd-Book.otf);
}

@font-face {
  font-family: CircularMedium;
  src: url(@/fonts/circularStd/CircularStd-Medium.otf);
}
